/************* colors ************/

:root {
  --color-bg: #74C0FC;
  --color-bayan: #FA5252;
  --color-black: #190808;
  --color-white: #FBFAFA;
  --color-light-grey: #F1ECEC;

  --key-border-radius: 5px 5px 0 0;
}

@media (min-width: 820px) {
  :root {
    --key-border-radius: 10px 10px 0 0;
  }
}

@media (min-width: 1024px) {
  :root {
    --key-border-radius: 15px 15px 0 0;
  }
}

/************* reset *************/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 10px;
}

@media (min-width: 820px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 36px;
  }
}

body {
  min-height: 100vh;
  background-color: var(--color-bg);
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--color-black);
}

img {
  display: block;
  max-width: 100%;
}

/************* bayan *************/

.bayan {
  margin: 0 auto;
  padding: 15px 5px 0 5px;
  max-width: 320px;
}

@media (min-width: 820px) {
  .bayan {
    max-width: 820px;
  }
}

@media (min-width: 1024px) {
  .bayan {
    max-width: 1024px;
  }
}

/************* bayan-top *************/
.bayan-top {
  padding: 15px;
  padding-top: 20px;
  background-color: var(--color-bayan);
  border-radius: 15px 15px 0 0;
}

@media (min-width: 820px) {
  .bayan-top {
    padding: 40px;
    padding-top: 45px;
    border-radius: 25px 25px 0 0;
  }
}

.keyboard {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 820px) {
  .keyboard {
    height: 190px;
  }
}

@media (min-width: 1024px) {
  .keyboard {
    height: 300px;
  }
}

.key {
  border-radius: var(--key-border-radius);
  background-color: var(--color-white);
  text-align: center;
  font-size: 3.1rem;
  width: 30px;
  position: relative;
}

@media (min-width: 820px) {
  .key {
    width: 80px;
  }
}

@media (min-width: 1024px) {
  .key {
    width: 110px;
  }
}

.key--font-accent {
  color: var(--color-bayan);
}

.key--black-key::after {
  content:'';
  position: absolute;
  background-color: var(--color-black);
  border-radius: var(--key-border-radius);
  bottom: 0;
  left: 20px;
  z-index: 1;
  width: 70%;
  height: 50%;
}

@media (min-width: 820px) {
  .key--black-key::after {
    left: 60px;
  }
}

@media (min-width: 1024px) {
  .key--black-key::after {
    left: 70px;
  }
}

/************* accordeon functional *************/
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

input:checked ~ .meme-label .meme-img{
  height: 100%;
}

label:hover {
  cursor: pointer;
}

/************* accordeon styles *************/
.meme-title {
  text-align: center;
  background-color: var(--color-white);
  font-size: 3.1rem;
}

@media (min-width: 820px) {
  .meme-title {
    font-size: inherit;
  }
}

.meme-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light-grey);
}

.meme-img {
  padding: 15px;
  height: 0;
}
