/************* colors ************/

:root {
  --color-bg: #74C0FC;
  --color-bayan: #FA5252;
  --color-bayan-bright: #C92A2A;
  --color-black: #440E0E;
  --color-white: #FBFAFA;
  --color-light-grey: #F1ECEC;
  --color-gold-light: #F7EF8A;
  --color-gold-dark: #D2AC47;
  --color-gold-medium: #EDC967;
}

/************* reset *************/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: var(--color-bg);
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--color-black);
  user-select: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/************* bayan *************/

.bayan {
  margin: 0 auto;
  padding: 1.5rem 0.5rem 1.5rem 0.5rem;
  max-width: 32rem;
}

@media (min-width: 820px) {
  .bayan {
    max-width: 82rem;
  }
}

@media (min-width: 1024px) {
  .bayan {
    max-width: 102.4rem;
  }
}

/************* bayan-top *************/
.bayan-top {
  padding: 1.5rem;
  padding-top: 2rem;
  background-color: var(--color-bayan);
  border-radius: 1.5rem 1.5rem 0 0;
}

@media (min-width: 820px) {
  .bayan-top {
    padding: 4rem;
    padding-top: 4.5rem;
    border-radius: 2.5rem 2.5rem 0 0;
  }
}

/************* keyboard *************/

:root {
  --key-border-radius: 0.5rem 0.5rem 0 0;
  --key-font-size: 3.5rem;
  --key-gap: 0.5rem;
}

@media (min-width: 820px) {
  :root {
    --key-border-radius: 1rem 1rem 0 0;
    --key-gap: 1rem;
    --key-font-size: 8rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --key-border-radius: 1.5rem 1.5rem 0 0;
    --key-font-size: 11rem;
  }
}

.bayan-top {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repaet(2, 1fr);
  column-gap: var(--key-gap);
}

.key {
  background-color: var(--color-white);
  text-align: center;
  font-size: var(--key-font-size);
  line-height: 130%;
}

.key--font-accent {
  color: var(--color-bayan);
}

.key--top {
  border-radius: var(--key-border-radius);
  margin-bottom: -0.05rem;
}

.key--span-4 .key--top,
.key--span-3 .key--top {
  background-color: var(--color-black);
  height: 100%;
}

.key--span-4,
.key--span-3 {
  display: flex;
  justify-content: center;
}

.key--span-4 {
  grid-column: span 4;
  gap: 10%;
}

.key--span-4 .key--top {
  width: 16%;
}

.key--span-3  {
  grid-column: span 3;
  gap: 13%;
}

.key--span-3 .key--top {
  width: 21.5%;
}

/************* accordeon functional *************/
input {
  display: none;
  opacity: 0;
  z-index: -1;
}

input:checked ~ .meme-label .meme-img{
  opacity: 1;
}

.meme-label {
  overflow: hidden;
  transition: filter .5s;
}

input:checked ~ .meme-label .meme-title {
  color: var(--color-black);
}

.meme-label:active {
  cursor: progress;
}

.meme-label:active .meme-img {
  filter: grayscale(50%);
}

input:checked ~ .meme-label:active .meme-title {
  color: var(--color-bayan-bright)
}

input:checked ~ .meme-label .toggle-icon {
  transform: rotate(45deg);
}

input:checked ~ .meme-label .meme-content {
  max-height: 100rem;
}

@media (hover: hover) {
  label:hover {
    cursor: pointer;
  }
  .meme-label:hover .toggle-icon {
    transform: rotate(45deg);
  }
  .meme-label:hover .meme-content {
    max-height: 100rem;
  }
  .meme-label:hover .meme-img {
    opacity: 1;
  }
}

/************* accordeon styles *************/

.meme-title {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: var(--color-white);
  font-size: 2.5rem;
  line-height: 130%;
  display: flex;
  justify-content: space-between;
  color: var(--color-bayan-bright);
  transition: color .5s;
}

.toggle-icon {
  opacity: 1;
  transition: transform .2s, opacity .5s;
  color: var(--color-black);
}

@media (min-width: 820px) {
  .meme-title {
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 4.6rem;
  }
}

@media (hover: hover) {
  .toggle-icon {
    opacity: 0;
  }
  .bayan-body:hover {
    cursor: pointer;
  }
  .bayan-body:hover .meme-title{
    color: var(--color-black);
  }
  .bayan-body:hover .meme-label:active .meme-title {
    color: var(--color-bayan-bright);
  }
  .bayan-body:hover .toggle-icon {
    opacity: 1;
  }
}

.meme-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-light-grey);
  max-height: 2rem;
  overflow: hidden;
  transition: all .3s;
}

@media (min-width: 820px) {
  .meme-content {
    max-height: 4rem;
  }
}

.meme-img {
  max-width: 90%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  opacity: 0;
  transition: all .5s;
}

/************* bayan-folds  *************/

:root {
  --fold-size: 1.5rem;
  --fold-visible-margin: -0.8rem;
  --fold-hiddden-margin: -1.8rem;
}

@media (min-width: 820px) {
  :root {
    --fold-size: 3rem;
    --fold-visible-margin: -1.7rem;
    --fold-hiddden-margin: -4rem;
  }
}

.side {
  background-color: var(--color-bg);
  width: var(--fold-size);
  height: var(--fold-size);
  transform: rotate(45deg);
  transition: all .5s;
}

.side--left {
  margin-left: var(--fold-visible-margin);
}

.side--right {
  margin-right: var(--fold-visible-margin);
}

input:checked ~ .meme-label .meme-content .side--left {
  margin-left: var(--fold-hiddden-margin);
}

input:checked ~ .meme-label .meme-content .side--right {
  margin-right: var(--fold-hiddden-margin);
}

@media (hover: hover) {
  .meme-label:hover .meme-content .side--left {
    margin-left: var(--fold-hiddden-margin);
  }
  .meme-label:hover .meme-content .side--right {
    margin-right: var(--fold-hiddden-margin);
  }
}

/************* bayan-bottom *************/
.bayan-bottom {
  padding: 1rem;
  padding-bottom: 2rem;
  background-color: var(--color-bayan);
  border-radius: 0 0 3rem 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: .2rem;
}

@media (min-width: 820px) {
  .bayan-bottom {
    padding: 6rem;
    padding-top: 3rem;
    border-radius: 0 0 7rem 7rem;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    padding-bottom: 3rem;
    row-gap: 1.2rem;
  }
}

div.bottom-key {
  display: none;
}

.bottom-key {
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  background-color: var(--color-white);
  box-shadow: 0 0.4rem 0.4rem rgba(68, 14, 14, 0.25);
  transition: box-shadow .5s;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

@media (min-width: 820px) {
  .bottom-key {
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
  }
  div.bottom-key {
    display: block;
  }
}

@media (min-width: 1024px) {
  .bottom-key {
    height: 7rem;
    width: 7rem;
    font-size: 3rem;
  }
}

.bottom-key--black {
  background-color: var(--color-black);
}

.github {
  background-image: url(./assets/logos/github-mark.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media (hover: hover) {
  .github:hover,
  .rss:hover {
  box-shadow: .1rem .6rem .3rem .2rem rgba(68, 14, 14, 0.3);
  }
}

.github:active,
.rss:active {
  box-shadow: 0 0.3rem 0.2rem rgba(68, 14, 14, 0.2);
}

.copyright {
  margin-top: 1rem;
  margin-bottom: -1rem;
  grid-column: span 11;
  text-align: center;
  color: var(--color-gold-light);
}

.copyright a {
  transition: color 0.5s;
}

@media (hover: hover) {
  .copyright a:hover {
    color: var(--color-gold-dark);
  }
}

.copyright a:active {
  color: var(--color-gold-medium);
  transition: all .3s ease;
}

